{% extends 'bibliothecaire/base.html' %}

{% block content %}
    <div class="my-3">
    <h3>Livre</h3>
    <table class="table" >
        <thead>
            <tr>
                <th class="fs-5" >Date pris </th>
                <th class="fs-5" >Date retour</th>
                <th class="fs-5" >Etat</th>
                <th class="fs-5" >Bloqué</th>
                <th class="fs-5" >Membre</th>
                <th class="fs-5" >Livre</th>
                <th colspan="2" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for empruntbook in empruntbooks %}
                <tr>
                    <td> {{empruntbook.date_emprunt}} </td>
                    <td> {{empruntbook.date_restitution}} </td>
                    <td> {{empruntbook.state}} </td>
                    <td> {{empruntbook.lock}} </td>
                    <td> {{empruntbook.member}} </td>
                    <td> {{empruntbook.book}} </td>
                    <td>
                        <a class="btn btn-secondary btn-sm my-1" href=" {% url 'detail-emprunt-book' empruntbook_id=empruntbook.id %} " >Editer</a>
                        <a class="btn btn-danger btn-sm my-1" href=" {% url 'delete-emprunt-book' empruntbook_id=empruntbook.id %} " >Supprimer</a>
                    </td>

                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
<div class="my-3">
    <h3>DVD</h3>
    <table class="table" >
        <thead>
            <tr>
                <th class="fs-5" >Date pris </th>
                <th class="fs-5" >Date retour</th>
                <th class="fs-5" >Etat</th>
                <th class="fs-5" >Bloqué</th>
                <th class="fs-5" >Membre</th>
                <th class="fs-5" >DVD</th>
                <th colspan="2" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for empruntdvd in empruntdvds %}
                <tr>
                    <td> {{empruntdvd.date_emprunt}} </td>
                    <td> {{empruntdvd.date_restitution}} </td>
                    <td> {{empruntdvd.state}} </td>
                    <td> {{empruntdvd.lock}} </td>
                    <td> {{empruntdvd.member}} </td>
                    <td> {{empruntdvd.dvd}} </td>
                    <td>
                        <a class="btn btn-secondary btn-sm my-1" href=" {% url 'detail-emprunt-dvd' empruntdvd_id=empruntdvd.id %} " >Editer</a>
                        <a class="btn btn-danger btn-sm my-1" href=" {% url 'delete-emprunt-dvd' empruntdvd_id=empruntdvd.id %} " >Supprimer</a>
                    </td>

                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
<div class="my-3">
    <h3>CD</h3>
    <table class="table" >
        <thead>
            <tr>
                <th class="fs-5" >Date pris </th>
                <th class="fs-5" >Date retour</th>
                <th class="fs-5" >Etat</th>
                <th class="fs-5" >Bloqué</th>
                <th class="fs-5" >Membre</th>
                <th class="fs-5" >CD</th>
                <th colspan="2" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for empruntcd in empruntcds %}
                <tr>
                    <td> {{empruntcd.date_emprunt}} </td>
                    <td> {{empruntcd.date_restitution}} </td>
                    <td> {{empruntcd.state}} </td>
                    <td> {{empruntcd.lock}} </td>
                    <td> {{empruntcd.member}} </td>
                    <td> {{empruntcd.cd}} </td>
                    <td>
                        <a class="btn btn-secondary btn-sm my-1" href=" {% url 'detail-emprunt-cd' empruntcd_id=empruntcd.id %} " >Editer</a>
                        <a class="btn btn-danger btn-sm my-1" href=" {% url 'delete-emprunt-cd' empruntcd_id=empruntcd.id %} " >Supprimer</a>
                    </td>

                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
<div class="my-3">
    <h3>Jeu de plateau</h3>
    <table class="table" >
        <thead>
            <tr>
                <th class="fs-5" >Date pris </th>
                <th class="fs-5" >Date retour</th>
                <th class="fs-5" >Etat</th>
                <th class="fs-5" >Bloqué</th>
                <th class="fs-5" >Membre</th>
                <th class="fs-5" >Jeu de plateau</th>
                <th colspan="2" >Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for empruntboardgame in empruntboardgames %}
                <tr>
                    <td> {{empruntboardgame.date_emprunt}} </td>
                    <td> {{empruntboardgame.date_restitution}} </td>
                    <td> {{empruntboardgame.state}} </td>
                    <td> {{empruntboardgame.lock}} </td>
                    <td> {{empruntboardgame.member}} </td>
                    <td> {{empruntboardgame.boardGame}} </td>
                    <td>
                        <a class="btn btn-secondary btn-sm my-1" href=" {% url 'detail-emprunt-boardgame' empruntboardgame_id=empruntboardgame.id %} " >Editer</a>
                        <a class="btn btn-danger btn-sm my-1" href=" {% url 'delete-emprunt-boardgame' empruntboardgame_id=empruntboardgame.id %} " >Supprimer</a>
                    </td>

                </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>

{% endblock %}