{% extends "bibliothecaire/base.html" %}

{% block content %}
<a class="btn btn-primary my-2" href=" {% url 'listing' %} " >Retour</a>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <h5 class="card-title">{{book.author}}</h5>
        {% if book.available %}
            <p class="card-text">Disponible</p>
        {% else %}
            <p class="card-text">Réserver</p>
        {% endif %}
        
    </div>
</div>

{% endblock  %}