{% extends 'bibliothecaire/base.html' %}
{% block content %}
    <h2 class="mt-2">Les livres</h2>
    <a class="btn btn-primary my-2" href=" {% url 'book-create' %} " >ajouter</a>
    <a class="btn btn-secondary my-2" href=" {% url 'emprunt-book-create' %} " >Emprunter</a>
    <div class="d-flex gap-2 ">
        {% for book in books %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                    <h5 class="card-title">{{book.author}}</h5>
                    {% if book.available %}
                        <p class="card-text">Disponible</p>
                    {% else %}
                        <p class="card-text">Réserver</p>
                    {% endif %}
                    <a class="btn btn-secondary btn-sm my-2" href=" {% url 'detail-book' book_id=book.id %} " >editer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="mt-2">Dvd</h2>
    <a class="btn btn-primary my-2" href=" {% url 'dvd-create' %} " >ajouter</a>
    <a class="btn btn-secondary my-2" href=" {% url 'emprunt-dvd-create' %} " >Emprunter</a>
    <div class="d-flex gap-2 ">
        {% for dvd in dvds %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{dvd.title}}</h5>
                    <h5 class="card-title">{{dvd.realizator}}</h5>
                    {% if dvd.available %}
                        <p class="card-text">Disponible</p>
                    {% else %}
                        <p class="card-text">Réserver</p>
                    {% endif %}
                    <a class="btn btn-secondary btn-sm my-2" href=" {% url 'detail-dvd' dvd_id=dvd.id %} " >editer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="mt-2">CD</h2>
    <a class="btn btn-primary my-2" href=" {% url 'cd-create' %} " >ajouter</a>
    <a class="btn btn-secondary my-2" href=" {% url 'emprunt-cd-create' %} " >Emprunter</a>
    <div class="d-flex gap-2 ">
        {% for cd in cds %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{cd.title}}</h5>
                    <h5 class="card-title">{{cd.artist}}</h5>
                    {% if cd.available %}
                        <p class="card-text">Disponible</p>
                    {% else %}
                        <p class="card-text">Réserver</p>
                    {% endif %}
                    <a class="btn btn-secondary btn-sm my-2" href=" {% url 'detail-cd' cd_id=cd.id %} " >editer</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2 class="mt-2">Jeu de plateau</h2>
    <a class="btn btn-primary my-2" href=" {% url 'boardgame-create' %} " >ajouter</a>
    <a class="btn btn-secondary my-2" href=" {% url 'emprunt-boardgame-create' %} " >Emprunter</a>
    <div class="d-flex gap-2 ">
        {% for boardgame in boardgames %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{boardgame.name}}</h5>
                    <h5 class="card-title">{{boardgame.creator}}</h5>
                    {% if boardgame.available %}
                        <p class="card-text">Disponible</p>
                    {% else %}
                        <p class="card-text">Réserver</p>
                    {% endif %}
                    <a class="btn btn-secondary btn-sm my-2" href=" {% url 'detail-boardgame' boardgame_id=boardgame.id %} " >editer</a>
                </div>
            </div>
        {% endfor %}
    </div>
  {% endblock %}

